<%=render 'notifier/header'%>

<%= @user.name %>, you requested a password reset on 
<a href="<%=GlobalSettings.app_protocol+GlobalSettings.app_domain%>"><%=GlobalSettings.site_name%></a>.  
Click the link below to reset your password.
<p>
  <a href="<%=GlobalSettings.app_protocol+GlobalSettings.app_domain+"#users/#{@user.sid}/reset/#{@user.reset_token}"%>">
    <%=GlobalSettings.app_protocol+GlobalSettings.app_domain+"#users/#{@user.sid}/reset/#{@user.reset_token}"%>
  </a>
</p>

If you did not request a password reset, then you can ignore this email.

<%=render 'notifier/footer', :email_prefs=>false%>
