!!!
%html
  %head
    %title 
      #{GlobalSettings.site_name}
    = csrf_meta_tag
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    = render 'layouts/stylesheets', :enable_mobile=>false
    = render 'layouts/scripts'
    -#%link{:rel=>"shortcut icon", :type=>"image/x-icon", :href=>"/images/icons/favicon.png"}
  %body
    -#= render 'layouts/header'
    -#= yield :header
    #header
    = yield
    -#= render 'layouts/footer'
    -if(Rails.env.development?)
      = debug(params.merge({:path=>request.fullpath})) 


